.main-content {
  margin: 0 auto;
  width: 90%;
}

.section-title {
  color: $red;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.featured-post {
  color: #686868;
}

.featured-post .featured-post-image {
  height: 300px;
  width: 100% /9;
}

.featured-post .fa-bookmark {
  font-size: 20px;
}

.featured-post .post-title {
  color: #353535;
  font-weight: 700;
  margin-bottom: 5px;
}

.featured-post .post-date {
  color: $author-text;
  font-weight: 600;
}

.featured-post .post-description {
  font-weight: 200;
}

.post-author p,
.post-time p {
  margin: 0;
}

.featured-post .author,
.recent-post .author {
  color: $author-text;
  cursor: pointer;
  font-weight: 600;
}

@media (min-width: 700px) {
  .main-content {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .main-content {
    width: 95%;
  }
}

@media (min-width: 992px) {
  .main-content {
    width: 80%;
  }
 }
