
html, body {
  min-height: 100%;
  position: relative;
}

body {
  padding-bottom: 96px;
}

.footer {
  background-color: $footer-bg-color;
  left: 0;
  bottom: 0;
  position: absolute;
  color: $white;
  padding: 10px;
  width: 100%;
}

.modal-overlay {
  background: $black;
  display: block;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
