
html {
  min-height: 100%;
  position: relative;
}

.footer {
  background-color: $footer-bg-color;
  bottom: 0;
  color: $white;
  margin-top: 50px;
  padding: 10px;
  width: 100%;
}

.modal-overlay {
  background: $black;
  display: block;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
