.read-article {
  margin: 0 auto;
  width: 80%;

  .article-author-image {
    height: 100px;
    width: 100px;
  }

  .follow-btn {
    background-color: $white;
    border: thin solid $red;
    color: $red;
    font-size: 14px;
    padding: 2px 10px;
  }

  .author-bio {
    font-size: 14px;
  }

  .mdi {
    color: $light-gray;
    font-size: 1.4rem;
  }

  .likes-num {
    font-size: 1.1rem;
    font-style: normal;
  }

  .title {
    color: $dark-gray;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 2px;
  }

  .description {
    font-size: 16px;
  }

  .author-bio {
    color: $gray;
  }

  .author-name {
    color: $dark-gray;
    font-weight: 600;
  }

  .post-body {
    color: $gray;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.02rem;
    line-height: 1.58;
    word-break: break-word;
  }

  .article-reactions {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .read-article .title {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .read-article {
    .title {
      font-size: 50px;
    }

    .description {
      font-size: 18px;
    }

    .post-body {
      font-size: 20px;
    }
  }
}
