.recent-post .recent-post-image {
  height: 150px;
  width: 100% /9;
}

.recent-post .post-title {
  color: $gray;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  text-decoration: none;
}

.post-time .time {
  color: $gray;
  font-size: 15px;
  font-weight: 400;
}
