@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,600,700,800");

html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  max-width: 1500px;
  margin: 0 auto;
}
