$white: #ffffff;
$footer-bg-color: #3d3d3d;
$black: #000000;
$red: #C0392B;
$gray: #353535;
$author-text: #5e5e5e;
$nav-background: #f8f9fa;
$light-red: #fdc3bd;
$light-gray: #747474;
$nav-background: #f8f9fa;
$light-red: #fdc3bd;
$dark-gray: #313131;
$dark-red: #9d3023;
