$white: #ffffff;
$footer-bg-color: #484747;

html {
  min-height: 100%;
  position: relative;
}

.footer {
  background-color: $footer-bg-color;
  bottom: 0;
  color: $white;
  padding: 30px;
  position: absolute;
  width: 100%;

  .fab-color {
    color: $white;
  };

  .circle {
    border: 2px solid $white;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
  }
};
